WmDeployer/config/ProjectAutomatorForRepository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="user" type="xs:string"/>
	<xs:element name="Context" type="xs:string"/>
	<xs:element name="useSSL" type="xs:string"/>
	<xs:element name="useBasicAuth" type="xs:string"/>
	<xs:element name="urlOrDirectory" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="trustStoreType">
		<xs:complexType/>
	</xs:element>
	<xs:element name="trustStorePath">
		<xs:complexType/>
	</xs:element>
		<xs:element name="trustStorepassword">
		<xs:complexType/>
	</xs:element>
	<xs:element name="rootFolderAliases" type="xs:string"/>
	<xs:element name="repalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="urlOrDirectory"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pwd" type="xs:string"/>
	<xs:element name="pwdHandle" type="xs:string"/>
	<xs:element name="port" type="xs:string"/>
	<xs:element name="pmalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventserveralias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
					<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
    <xs:element name="edaserveralias">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="host"/>
                <xs:element ref="port"/>
                <xs:element ref="user"/>
                <xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
                <xs:element ref="useSSL"/>
                <xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Test"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
	<xs:element name="rulesserveralias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rulesmwsserveralias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="rootContext" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="optimizealias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mwsalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="rootContext" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="excludeCoreTaskEngineDependencies"/>
				<xs:element ref="cacheTimeOut"/>
				<xs:element ref="includeSecurityDependencies"/>
				<xs:element ref="rootFolderAliases"/>
				<xs:element ref="maximumFolderObjectCount"/>
				<xs:element ref="enableAddtionalLogging"/>
				<xs:element ref="maxFolderDepth"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maximumFolderObjectCount" type="xs:string"/>
	<xs:element name="maxFolderDepth" type="xs:string"/>
	<xs:element name="keyStorepassword">
		<xs:complexType/>
	</xs:element>
	<xs:element name="keyStoreType">
		<xs:complexType/>
	</xs:element>
	<xs:element name="keyStorePath">
		<xs:complexType/>
	</xs:element>
	<xs:element name="isalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
				<xs:element ref="useSSL"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="installDeployerResource"/>
				<xs:element ref="Test"/>
				<xs:element name="executeACL" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="installDeployerResource" type="xs:string"/>
	<xs:element name="includeSecurityDependencies" type="xs:string"/>
	<xs:element name="host" type="xs:string"/>
	<xs:element name="version" type="xs:string"/>	
	<xs:element name="excludeCoreTaskEngineDependencies" type="xs:string"/>
	<xs:element name="enableAddtionalLogging" type="xs:string"/>
	<xs:element name="rootContext" type="xs:string"/>
	<xs:element name="cluster">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clientGroup" type="xs:string"/>
	<xs:element name="cacheTimeOut" type="xs:string"/>
	<xs:element name="brokeralias">
		<xs:complexType>
			<xs:sequence> 
				<xs:element ref="brokerName"/>
				<xs:element ref="clientGroup"/>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="useSSL" minOccurs="0"/>
				<xs:element ref="useBasicAuth" minOccurs="0"/>
				<xs:element ref="user" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="pwd" minOccurs="0"/>
					<xs:element ref="pwdHandle" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="version" minOccurs="0"/>
				<xs:element ref="keyStorePath" minOccurs="0"/>
				<xs:element ref="trustStorePath" minOccurs="0"/>
				<xs:element ref="keyStorepassword" minOccurs="0"/>
				<xs:element ref="keyStoreType" minOccurs="0"/>
				<xs:element ref="trustStoreType" minOccurs="0"/>
				<xs:element ref="Context" minOccurs="0"/>
				<xs:element ref="Test"/> 
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="brokerName" type="xs:string"/>
	
  <xs:element name="universalmessagingalias">
		<xs:complexType>
			<xs:sequence> 
		  	<xs:element name="realmURL" type="xs:string"/>
				<xs:element ref="useSSL" minOccurs="0"/>
				<xs:element ref="useBasicAuth" minOccurs="0"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="keyStorePath" type="xs:string" minOccurs="0"/>
				<xs:element name="keyStorepassword" type="xs:string" minOccurs="0"/>
				<xs:element name="trustStorePath" type="xs:string" minOccurs="0"/>
				<xs:element name="trustStorepassword" type="xs:string" minOccurs="0"/>
				<xs:element ref="user" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="pwd" minOccurs="0"/>
					<xs:element ref="pwdHandle" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="Test"/> 
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="applicationplatformalias">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="host"/>
                <xs:element ref="port"/>
                <xs:element ref="user"/>
                <xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
                <xs:element ref="useSSL"/>
                <xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Test"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="agileappsalias">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agileAppsServerURL" type="xs:string"/>
                <xs:element ref="user"/>
                <xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
                <xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Test"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
	
	<xs:element name="alias">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
					<xs:attribute name="logicalServer" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string" use="required"/>
					<xs:attribute name="logicalServer" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Test" type="xs:string"/>
	<xs:element name="TargetGroup">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="alias" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cluster" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="isLogicalCluster" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Repository">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Projects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Project" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="projectPrefix" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Project">
		<xs:complexType>			
			<xs:sequence>
			<xs:element ref="ProjectProperties" minOccurs="0" maxOccurs="1"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="DeploymentSet"/>
        			<xs:element ref="DeletionSet"/>							
				<xs:element ref="DeploymentMap"/>
				<xs:element ref="MapSetMapping"/>
				<xs:element ref="DeploymentCandidate"/>
			</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="overwrite" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="ignoreMissingDependencies" type="xs:string"/>
			<!-- type should support two values Repository or Runtime and default should be runtime -->
		</xs:complexType>
	</xs:element>
	<xs:element name="ProjectProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	 <xs:element name="Property">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
     </xs:element>
	
	
	<xs:element name="Composite">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>			
			<xs:attribute name="displayName" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Component">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="componentType" type="xs:string" use="required"/>
			<xs:attribute name="compositeName" type="xs:string"/>
			<xs:attribute name="compositeType" type="xs:string"/>
			<xs:attribute name="path" type="xs:string"/>
			<xs:attribute name="displayName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapSetMapping">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="alias" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="setName" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MWS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mwsalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pmalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Optimize">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="optimizealias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Broker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brokeralias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventServer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventserveralias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="EDA">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="edaserveralias" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="RulesServer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rulesserveralias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RulesServerMWS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rulesmwsserveralias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="UniversalMessaging">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="universalmessagingalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApplicationPlatform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applicationplatformalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AgileApps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="agileappsalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Environment">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="IS" minOccurs="0"/>
				<xs:element ref="MWS" minOccurs="0"/>
				<xs:element ref="Optimize" minOccurs="0"/>
				<xs:element ref="Broker" minOccurs="0"/>
				<xs:element ref="EventServer" minOccurs="0"/>
				<xs:element ref="RulesServer" minOccurs="0"/>
				<xs:element ref="ProcessModel" minOccurs="0"/>
                <xs:element ref="EDA" minOccurs="0"/>
        <xs:element ref="UniversalMessaging" minOccurs="0"/>
        <xs:element ref="ApplicationPlatform" minOccurs="0"/>
        <xs:element ref="AgileApps" minOccurs="0"/>
        <xs:element ref="RulesServerMWS" minOccurs="0"/>
				<xs:element ref="Repository" minOccurs="0"/>
				<xs:element ref="TargetGroup" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentSet">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
			    <xs:element ref="Composite"/>			    
			    <xs:element ref="Component"/>
			</xs:choice>			
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>									
			<xs:attribute name="name" type="xs:string" use="required"/>			
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="autoResolve" type="xs:string"/>			
			<!-- the value for autoResolve should be partial, full or ignore-->
		</xs:complexType>
	</xs:element>
	<xs:element name="DeletionSet">
		<xs:complexType>
	    <xs:choice maxOccurs="unbounded">		    
			    <xs:element ref="Component"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>			
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="autoResolve" type="xs:string"/>
			<!-- the value for autoResolve should be full. Default value should be ignore-->
	 </xs:complexType>
	</xs:element>		
	<xs:element name="DeploymentMap">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentCandidate">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>			
		</xs:complexType>
	</xs:element>
	<xs:element name="DeployerSpec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeployerServer"/>
				<xs:element ref="Environment" minOccurs="0"/>
				<xs:element ref="Projects"/>
			</xs:sequence>
			<xs:attribute name="exitOnError" type="xs:boolean"/>
			<xs:attribute name="sourceType" type="xs:string"/>
			<!--  It should support two values Runtime and Repository default should be Runtime -->
		</xs:complexType>
	</xs:element>
	<xs:element name="DeployerServer">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="host"/>
				<xs:element ref="user"/>
				<xs:choice>
					<xs:element ref="pwd"/>
					<xs:element ref="pwdHandle"/>
				</xs:choice>
			</xs:choice>
		</xs:complexType>
	</xs:element>			
</xs:schema>
