WmDeployer/config/ProjectAutomator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="user" type="xs:string"/>
	<xs:element name="useSSL" type="xs:string"/>
	<xs:element name="urlOrDirectory" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="trustStoreType">
		<xs:complexType/>
	</xs:element>
	<xs:element name="trustStorePath">
		<xs:complexType/>
	</xs:element>
	<xs:element name="rootFolderAliases" type="xs:string"/>
	<xs:element name="repalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="urlOrDirectory"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pwd" type="xs:string"/>
	<xs:element name="port" type="xs:string"/>
	<xs:element name="pmalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
				<xs:element ref="useSSL"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="optimizealias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
				<xs:element ref="useSSL"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mwsalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
				<xs:element ref="useSSL"/>
				<xs:element ref="excludeCoreTaskEngineDependencies"/>
				<xs:element ref="cacheTimeOut"/>
				<xs:element ref="includeSecurityDependencies"/>
				<xs:element ref="rootFolderAliases"/>
				<xs:element ref="maximumFolderObjectCount"/>
				<xs:element ref="enableAddtionalLogging"/>
				<xs:element ref="maxFolderDepth"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maximumFolderObjectCount" type="xs:string"/>
	<xs:element name="maxFolderDepth" type="xs:string"/>
	<xs:element name="keyStorepassword">
		<xs:complexType/>
	</xs:element>
	<xs:element name="keyStoreType">
		<xs:complexType/>
	</xs:element>
	<xs:element name="keyStorePath">
		<xs:complexType/>
	</xs:element>
	<xs:element name="isalias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
				<xs:element ref="useSSL"/>
				<xs:element ref="installDeployerResource"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="installDeployerResource" type="xs:string"/>
	<xs:element name="includeSecurityDependencies" type="xs:string"/>
	<xs:element name="host" type="xs:string"/>
	<xs:element name="group" type="xs:string"/>
	<xs:element name="excludeCoreTaskEngineDependencies" type="xs:string"/>
	<xs:element name="enableAddtionalLogging" type="xs:string"/>
	<xs:element name="cluster">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clientGroup" type="xs:string"/>
	<xs:element name="cacheTimeOut" type="xs:string"/>
	<xs:element name="brokeralias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brokerName"/>
				<xs:element ref="clientGroup"/>
				<xs:element ref="host"/>
				<xs:element ref="port"/>
				<xs:element ref="useSSL"/>
				<xs:element ref="keyStorePath"/>
				<xs:element ref="trustStorePath"/>
				<xs:element ref="keyStorepassword"/>
				<xs:element ref="keyStoreType"/>
				<xs:element ref="trustStoreType"/>
				<xs:element ref="Test"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="brokerName" type="xs:string"/>
	<xs:element name="alias">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>	
	<xs:element name="User">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Test" type="xs:string"/>
	<xs:element name="TargetGroup">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="alias" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cluster" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="isLogicalCluster" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNTPA">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNProfile">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNProcessingRule">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNExtendedField">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNDocumentType">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNContactType">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNArchivalSvcs">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNFieldDefinition">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNFp">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNDocumentAttribute">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNProfileGroup">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNQueue">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNFieldGroup">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNIdType">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TNDls">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecurityRealm">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScheduledService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="service" type="xs:string" use="required"/>
			<xs:attribute name="runAsUser" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="filterBy" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Repository">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Projects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Project" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="projectPrefix" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Project">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="DeploymentSet"/>
				<xs:element ref="ExtractionSet"/>
				<xs:element ref="DeploymentBuild"/>
				<xs:element ref="DeploymentMap"/>
				<xs:element ref="MapSetMapping"/>
				<xs:element ref="DeploymentCandidate"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="overwrite" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PM">
		<xs:complexType>
			<xs:attribute name="version" type="xs:string"/>
			<xs:attribute name="srcAlias" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="folder" type="xs:string"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>

        <xs:element name="BAM">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPM">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ESB">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TN">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BrokerRepo">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Portlet">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rule">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Renderer">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaskApp">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CafApp">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DirectoryService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shell">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Skin">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBO">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortalRole">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortalGroup">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortalUser">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Port">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="protocol" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Package">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeProcessConfig">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="OptimizeEventMap">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeDimension">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeHierarchy">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeDataFilter">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeRule">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptimizeCustomTree">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Optimize">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="optimizealias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapSetMapping">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="alias" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="setName" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MWS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mwsalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProcessModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pmalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JavaService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdapterConnection">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="XSLTService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainframeTransactionGroupService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainframeTransactionService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>			
	<xs:element name="Mainframe3270Pool">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="MainframeHostPool">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dotNetService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlatFileDictionary">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Specification">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Schema">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlazeRuleService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdapterNotification">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdapterListener">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdapterService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isalias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Group">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlowService">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlatFileSchema">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebServiceDescriptor">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="package" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:attribute name="topDir" type="xs:string" use="required"/>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtendedSetting">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Environment">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="IS" minOccurs="0"/>
				<xs:element ref="MWS" minOccurs="0"/>
				<xs:element ref="Optimize" minOccurs="0"/>
				<xs:element ref="Broker" minOccurs="0"/>
				<xs:element ref="ProcessModel" minOccurs="0"/>
				<xs:element ref="Repository" minOccurs="0"/>
				<xs:element ref="TargetGroup" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentSet">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
			    <xs:element ref="BAM"/>
			    <xs:element ref="ESB"/>
			    <xs:element ref="BPM"/>
			    <xs:element ref="TN"/>			    
			    <xs:element ref="BrokerRepo"/>
				<xs:element ref="OptimizeProcessConfig"/>
				<xs:element ref="OptimizeEventMap"/>
				<xs:element ref="OptimizeHierarchy"/>
				<xs:element ref="OptimizeDimension"/>
				<xs:element ref="OptimizeDataFilter"/>
				<xs:element ref="OptimizeRule"/>
				<xs:element ref="OptimizeCustomTree"/>
				<xs:element ref="PM"/>
				<xs:element ref="TNProcessingRule"/>
				<xs:element ref="TNDocumentType"/>
				<xs:element ref="TNExtendedField"/>
				<xs:element ref="TNContactType"/>
				<xs:element ref="TNProfile"/>
				<xs:element ref="TNArchivalSvcs"/>
				<xs:element ref="TNTPA"/>
				<xs:element ref="TNFieldDefinition"/>
				<xs:element ref="TNFp"/>
				<xs:element ref="TNDocumentAttribute"/>
				<xs:element ref="TNProfileGroup"/>
				<xs:element ref="TNQueue"/>
				<xs:element ref="TNFieldGroup"/>
				<xs:element ref="TNIdType"/>
				<xs:element ref="TNDls"/>
				<xs:element ref="Portlet"/>
				<xs:element ref="Rule"/>
				<xs:element ref="Skin"/>
				<xs:element ref="Shell"/>
				<xs:element ref="Renderer"/>
				<xs:element ref="TaskApp"/>
				<xs:element ref="CafApp"/>
				<xs:element ref="DirectoryService"/>
				<xs:element ref="DBO"/>
				<xs:element ref="BusinessCalendar"/>
				<xs:element ref="PortalRole"/>
				<xs:element ref="PortalGroup"/>
				<xs:element ref="PortalUser"/>
				<xs:element ref="SecurityRealm"/>
				<xs:element ref="Port"/>
				<xs:element ref="Trigger"/>
				<xs:element ref="FlowService"/>
				<xs:element ref="JavaService"/>				
				<xs:element ref="BlazeRuleService"/>
				<xs:element ref="XSLTService"/>								
				<xs:element ref="MainframeTransactionGroupService"/>	
				<xs:element ref="MainframeTransactionService"/>
				<xs:element ref="Mainframe3270Pool"/>
				<xs:element ref="MainframeHostPool"/>
				<xs:element ref="CService"/>					
				<xs:element ref="dotNetService"/>			
				<xs:element ref="WebService"/>
				<xs:element ref="FlatFileDictionary"/>
				<xs:element ref="Schema"/>
				<xs:element ref="Specification"/>				
				<xs:element ref="AdapterConnection"/>
				<xs:element ref="AdapterNotification"/>
				<xs:element ref="AdapterListener"/>
				<xs:element ref="AdapterService"/>				
				<xs:element ref="FlatFileSchema"/>
				<xs:element ref="WebServiceDescriptor"/>
				<xs:element ref="User"/>
				<xs:element ref="Group"/>
				<xs:element ref="ExtendedSetting"/>
				<xs:element ref="Package"/>
				<xs:element ref="File"/>
				<xs:element ref="ScheduledService"/>
				<xs:element ref="ACL"/>
				<xs:element ref="ClientGroup"/>
				<xs:element ref="DocumentType"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="packageRegExp" type="xs:string"/>
			<xs:attribute name="otherRegExp" type="xs:string"/>
			<xs:attribute name="tnTreeNodeCount" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="mode" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="defaultDependencyAction" type="xs:string"/>
			<xs:attribute name="sourceOfTruth" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtractionSet">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="OptimizeProcessConfig"/>
				<xs:element ref="OptimizeEventMap"/>
				<xs:element ref="OptimizeHierarchy"/>
				<xs:element ref="OptimizeDimension"/>
				<xs:element ref="OptimizeDataFilter"/>
				<xs:element ref="OptimizeRule"/>
				<xs:element ref="OptimizeCustomTree"/>
				<xs:element ref="PM"/>
				<xs:element ref="TNProcessingRule"/>
				<xs:element ref="TNDocumentType"/>
				<xs:element ref="TNExtendedField"/>
				<xs:element ref="TNContactType"/>
				<xs:element ref="TNProfile"/>
				<xs:element ref="TNArchivalSvcs"/>
				<xs:element ref="TNTPA"/>
				<xs:element ref="TNFieldDefinition"/>
				<xs:element ref="TNFp"/>
				<xs:element ref="TNDocumentAttribute"/>
				<xs:element ref="TNProfileGroup"/>
				<xs:element ref="TNQueue"/>
				<xs:element ref="TNFieldGroup"/>
				<xs:element ref="TNIdType"/>
				<xs:element ref="TNDls"/>
				<xs:element ref="Portlet"/>
				<xs:element ref="BusinessCalendar"/>
				<xs:element ref="PortalRole"/>
				<xs:element ref="PortalGroup"/>
				<xs:element ref="PortalUser"/>
				<xs:element ref="Rule"/>
				<xs:element ref="Skin"/>
				<xs:element ref="Shell"/>
				<xs:element ref="Renderer"/>
				<xs:element ref="TaskApp"/>
				<xs:element ref="CafApp"/>
				<xs:element ref="DirectoryService"/>
				<xs:element ref="DBO"/>
				<xs:element ref="SecurityRealm"/>
				<xs:element ref="Port"/>
				<xs:element ref="Trigger"/>
				<xs:element ref="FlowService"/>
				<xs:element ref="JavaService"/>
				<xs:element ref="BlazeRuleService"/>
				<xs:element ref="XSLTService"/>				
				<xs:element ref="MainframeTransactionGroupService"/>
				<xs:element ref="MainframeTransactionService"/>
				<xs:element ref="Mainframe3270Pool"/>
				<xs:element ref="MainframeHostPool"/>
				<xs:element ref="CService"/>
				<xs:element ref="dotNetService"/>
				<xs:element ref="WebService"/>
				<xs:element ref="FlatFileDictionary"/>
				<xs:element ref="Schema"/>
				<xs:element ref="Specification"/>
				<xs:element ref="AdapterConnection"/>
				<xs:element ref="AdapterNotification"/>
				<xs:element ref="AdapterListener"/>
				<xs:element ref="AdapterService"/>
				<xs:element ref="FlatFileSchema"/>
				<xs:element ref="WebServiceDescriptor"/>
				<xs:element ref="User"/>
				<xs:element ref="Group"/>
				<xs:element ref="ExtendedSetting"/>
				<xs:element ref="Package"/>
				<xs:element ref="File"/>
				<xs:element ref="ScheduledService"/>
				<xs:element ref="ACL"/>
				<xs:element ref="ClientGroup"/>
				<xs:element ref="DocumentType"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="packageRegExp" type="xs:string"/>
			<xs:attribute name="otherRegExp" type="xs:string"/>
			<xs:attribute name="tnTreeNodeCount" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="mode" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="defaultDependencyAction" type="xs:string"/>
			<xs:attribute name="sourceOfTruth" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentMap">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentCandidate">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="mapName" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
			<xs:attribute name="buildName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeploymentBuild">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeployerSpec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeployerServer"/>
				<xs:element ref="Environment" minOccurs="0"/>
				<xs:element ref="Projects"/>
			</xs:sequence>
			<xs:attribute name="exitOnError" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeployerServer">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="host"/>
				<xs:element ref="user"/>
				<xs:element ref="pwd"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClientGroup">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessCalendar">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="folder" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Broker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brokeralias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ACL">
		<xs:complexType>
			<xs:attribute name="srcAlias" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="regEx" type="xs:string"/>
			<xs:attribute name="excludeRegEx" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
